.list {
    display: flex;
}


.todobox {
    width: 150px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.248);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative;
    padding: 10px;
}

.btns {
    display: flex;
    justify-content: center; 
    gap: 15px; 
    margin-top: auto; 
}


.compBtn {
  background-color: rgba(18, 18, 26, 0.612);
  border: 1px solid rgba(48, 48, 99, 0.612);
    border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
}

.dltBtn {
    border: 1px solid rgba(48, 48, 99, 0.612);
    border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
}

.compBtn:hover {
    background-color: rgba(0, 0, 0, 0.132);
}
.dltBtn:hover {
    background-color: rgb(54, 83, 109);
}